*{
  margin: 0;
  padding: 0;
}


body{
  background-color: pink;
}

.board{
  width: 1000px;
  height:650px;
  background-color: grey;
  border: solid 2px orange;
  position: relative;
}

.object{
  position: absolute;
  border: dashed black 1px;
}

.barrier{
  width:1000px;
  height: 650px;
  position: absolute;
  background-image:url("./assets/TestSprites/Rocks.png");
  border:solid 1.5px black;
}

#rocks{
  background-color:rgba(89, 55, 41, 1);
  width:20px;
  height:50px;
}


#player{
  background-color:rgba(237, 30, 221, 1);
  width: 50px;
  height: 100px;
}
