*{
  margin: 0;
  padding: 0;
}


body{
  background-color: pink;
}

.board{
  width: 1000px;
  height:650px;
  background-color: grey;
  border: solid 2px orange;
  position: relative;
}

.object{
  position: absolute;
  border: dashed black 1px;
}

.barrier{
  position: relative;
}

#rocks{
  width:950px;
  height: 650px;
  background-image:url("../assets/TestSprites/Rocks.png");
  background-size:cover;
  border:solid 1.5px black;
}

#cherrios{
  background-image: url("../assets/TestSprites/TestDesign_cheerios.png")
}


#player{
  background-color:rgba(237, 30, 221, 1);
  width: 50px;
  height: 100px;
}
