*{
  margin: auto;
  padding: 0;
}


body{
  background-color: pink;
}

.board{
  z-index:0;
 /* width: 1000px;
  height:650px;*/
  width:40rem;
  height:40rem;
  background-color: magenta;
  border: solid 2px orange;
  position: relative;
}

.object{
  position: absolute;
  border: dashed black 1px;
}

.item{
  position:relative;
  border:red dashed 1px;
}

.barrier{
/*  width:910px;
  height:550px;*/
  width:35rem;
  height:35rem;
  position: relative;
  /* background-color:yellow; */
  margin-top:50px;
}

#rocks{
 /* width:1000px;
  height: 650px;*/
  width:40rem;
  height:40rem;
  /*background-image:url("../assets/TestSprites/Rocks.png");*/
  background-size:contain;
  border:solid 1.5px black;
  position:absolute;
}

#cheerios{
  /* background-color:blue; */
  background-image: url("../assets/TestSprites/TestDesign_cheerios.png");
  background-size:contain;
  z-index: 0;
}

#enemy {
  background-color:red;
  z-index:0;
}

#cornflakes{

  background-color: yellow;
  z-index:0;
}

#cereal{
  background-color: green;
  z-index:0;
}


#player{
  /* background: url('../assets/TestSprites/TestDesign_BW.png'); */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  z-index:0;
}

#player img{
  margin: -50px 0;
  width: 100px;
  height: 100px;
}

.modal{
  display:none;
  z-index: 1;
  position: fixed;
  width:100rem;
  height: 100rem;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}

.modalInner{
  margin: 5% auto;
  padding: 20px;
  width: 100%;
}

.modalInner button{
  width:200px;
  height:100px;
  margin: 0 auto;
  position: relative;
  background-color: purple;
  color:white;
  box-shadow: 3px, 5px, rgba(0,0,0, 0.4);
}

.winning{
  color:magenta;
  text-shadow: 2px, 3px, black;
  font-size: 20pt;
  background-color: white;
}



/*.close{
  color: white;
  font-size:28px;
  font-weight: bold;
}*/

.start{
  display:block;
  z-index: 1;
  position: fixed;
  width: 100rem;
  height: 100rem;
  background-color: rgb(255, 100,234);
  position:absolute;
}

.startInner{
  width: 200px;
  height: 100px;
  position: relative;
  margin:5% auto;
  padding: 2px;
  background-color: purple;
}
