* {
	margin: 0;
	padding: 0;
}

.board {
	z-index: -1;
	width: 400px;
	height: 400px;
	background-color: magenta;
	position: relative;
	border: solid white 1px;
/*	display:flex;*/
}

.board div {
	width: 100px;
	height: 100px;
	/*border: dashed black 1px;*/
	position: absolute;
	
}

#rocks{
 /* width:1000px;
  height: 650px;*/
  width:400px;
  height:400px;
  /*background-image:url("../assets/TestSprites/Rocks.png");*/
  background-size:contain;
  border:solid 1.5px black;
  position:absolute;
}

.player {
	display: none;
	margin:auto;
	background: url('../img/TestDesign_BW.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}

.cheerios {
	margin:auto;
	background-image: url("../img/TestDesign_cheerios.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}


.enemy {
	margin:auto;
	background-color:red;
	z-index:0;
}

.cornflakes{
	margin:auto;
	background-image: url("../img/TestDesign_BerryTroll.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}

.cereal{
	margin:auto;
	background-image: url("../img/TestDesign_Cereal.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}

.modal{
	display:none;
	z-index: 1;
	position: fixed;
	width:100rem;
	height: 100rem;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
}

.modalInner{
	margin: 5% auto;
	padding: 20px;
	width: 100%;
}

.modalInner button{
	width:200px;
	height:100px;
	margin: 0 auto;
	position: relative;
	background-color: purple;
	color:white;
	box-shadow: 3px, 5px, rgba(0,0,0, 0.4);
}

.winning{
	color:magenta;
	text-shadow: 2px, 3px, black;
	font-size: 20pt;
	background-color: white;
}



/*.close{
	color: white;
	font-size:28px;
	font-weight: bold;
}*/

.start{
	display:block;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: auto;
	background-image:url("../img/TitleScreen.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-color: rgb(255, 100,234);
	position:absolute;
}

.startInner{
	width: 200px;
	height: 100px;
	position: relative;
	margin:40% auto;
	padding: 2px;
	background-color: purple;
}